* {
  margin: 0;
  padding: 0
}

html {
  font-size: 100px;
}

.tab-bar {
  width: 100%;
  font-size: 0.16rem;
  text-align: center;
  margin-top: 1rem;
  .img-box {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  p:nth-child(2) {
    margin-top: 0.2rem;
  }
  .ne-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;

    .ne {
      width: 33.3%;
    }
  }
}


